<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= 'Hello World'%> <!-- this will appear on the screen as HTML -->

<% 'Hello world'%> <!-- this will not appear on the screen as HTML, using embedded ruby gives a convieniant way to execute 
                        logic statements so we can switch through html snippets we can do various things 
                        leaving out the equal sign = embedded ruby isnt displayed on the screen only rendered on back end.
                        Never parsed into html.
  -->

<p> 
    It is now <%= Time.now %> <!-- displays current time -->